POSTGRES_PASSWORD=test123
EMAIL_USERNAME=stijnhooft@gmail.com
EMAIL_PASSWORD=google_app_password
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SMTP_AUTH=true
EMAIL_STARTTLS=true
EMAIL_RECIPIENT=stijnhooft@gmail.com
EMAIL_SENDER=notifications@stijnhooft.be
EMAIL_SUBJECT=Notifications from the portal
JWT_SECRET=my_secret
BASE_URL=http://stijnhooftportal.westeurope.cloudapp.azure.com:2001/
JAVA_OPTS_PORTAL_EUREKA=-Xmx400m -Xms400m                       # optional
JAVA_OPTS_PORTAL_PROXY=-Xmx200m -Xms200m                        # optional
JAVA_OPTS_PORTAL_NOTIFICATIONS_EMAIL_PLUGIN=-Xmx200m -Xms200m   # optional
JAVA_OPTS_PORTAL_NOTIFICATIONS=-Xmx300m -Xms300m                # optional
JAVA_OPTS_PORTAL_FRONT_END=-Xmx300m -Xms300m                    # optional
JAVA_OPTS_PORTAL_AUTHENTICATION=-Xmx300m -Xms300m               # optional
JAVA_OPTS_PORTAL_HOUSAGOTCHI=-Xmx200m -Xms200m                  # optional