[submodule "portal-authentication"]
	path = portal-authentication
	url = https://github.com/stainii/portal-authentication
[submodule "portal-eureka"]
	path = portal-eureka
	url = https://github.com/stainii/portal-eureka.git
[submodule "portal-front-end"]
	path = portal-front-end
	url = https://github.com/stainii/portal-front-end
[submodule "portal-housagotchi"]
	path = portal-housagotchi
	url = https://github.com/stainii/portal-housagotchi.git
[submodule "portal-notifications"]
	path = portal-notifications
	url = https://github.com/stainii/portal-notifications.git
[submodule "portal-model"]
	path = portal-model
	url = https://github.com/stainii/portal-model
[submodule "portal-notifications-email-plugin"]
	path = portal-notifications-email-plugin
	url = https://github.com/stainii/portal-notifications-email-plugin
[submodule "portal-notifications-model"]
	path = portal-notifications-model
	url = https://github.com/stainii/portal-notifications-model
[submodule "portal-proxy"]
	path = portal-proxy
	url = https://github.com/stainii/portal-proxy
[submodule "portal-image-editor"]
    path = portal-image-editor
    url = https://github.com/stainii/portal-image-editor
[submodule "portal-portfolio"]
        path = portal-portfolio
        url = https://github.com/stainii/portal-portfolio